/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    input_folder = false
    samplesheet = false
    output = false
    db = false
    file_suffix = ".fastq.gz"
    file_spacer = "_"
    cpus = 16
    memory_gb = 30

    // StrainPhlAn params
    clades = false
    reference_genomes = ""
    metadata = false
    breadth_threshold = 80
    min_reads_aligning = 8
    min_base_coverage = 1
    min_base_quality = 30
    min_mapping_quality = 10
    marker_in_n_samples = 2
    sample_with_n_markers = 80

    // Set the containers to use for each component
    container__metaphlan = "quay.io/biocontainers/metaphlan:4.0.4--pyhca03a8a_0"
    container__graphlan = "quay.io/hdc-workflows/graphlan:1.1.3--2"
    container__pandas = "quay.io/hdc-workflows/python-pandas:10b7ab5"
    container__samtools = "quay.io/biocontainers/samtools:1.3.1--h0cf4675_11"

    // Used internally for process control
    enable_publish = false

}