/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    input_folder = false
    samplesheet = false
    output = false
    db = false
    file_suffix = "fastq.gz"
    file_spacer = "_"
    cpus = 1
    memory_gb = 4

    // Set the containers to use for each component
    container__metaphlan = "quay.io/biocontainers/metaphlan:3.0.14--pyhb7b1952_0"
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:4a6179f"

}